# OS / editor
.DS_Store
Thumbs.db
.vscode/
*.swp
*.swo

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# dependencies
**/node_modules/
**/venv/
**/.venv/
**/__pycache__/
**/.pytest_cache/
**/.mypy_cache/
**/.next/
**/dist/
**/build/
**/coverage/

# environment files
**/.env
**/.env.*
